.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  width: auto;
  z-index: 1100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  width: 100%;
  text-align: left;
  padding: 5px 30px;
  background-color: #d44637;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header__title {
  font-size: 22px;
  font-weight: 500;
  line-height: 60px;
  color: #fff;
}

.modal-content {
  width: 515px;
  border-radius: 4px;
  pointer-events: auto;
  background-color: #e74c3c;
}

.modal-body {
  padding: 30px 40px;
}

.modal-body__text {
  font-size: 15px;
  line-height: 30px;
  color: #fff;
}

.modal-footer {
  padding-bottom: 25px;
}

.modal-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-btn__close-icon {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  pointer-events: none;
}

.btn {
  font-size: 15px;
  line-height: 30px;
  color: #fff;
  background-color: #b3372b;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  outline: 0;
  transition: 0.2s color linear, 0.2s background-color linear;

  &:first-child {
    margin-right: 10px;
  }

  &:hover {
    color: #000;
    background-color: #fff;
  }
}

.btn-ok {
  padding: 0 40px;
}

.btn-cancel {
  padding: 0 27px;
}