@mixin disappear($display: initial) {
  display: $display;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: -999999;
}

@mixin appear($display: initial) {
  display: $display;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  z-index: auto;
}

@mixin pseudo-elem($display: block, $content: '') {
  display: $display;
  content: $content;
}

@mixin flex-direction($display: 'flex', $flex-dir: 'row', $type: 'all') {
  display: $display;
  flex-direction: $flex-dir;

  @if $type== 'center' {
    justify-content: center;
    align-items: center;
  } @else if $type== 'sb' {
    justify-content: space-between;
  } @else if $type== 'sb-end' {
    justify-content: space-between;
    align-items: flex-end;
  } @else if $type== 'sb-center' {
    justify-content: space-between;
    align-items: center;
  } @else if $type== 'wrap-around' {
    flex-wrap: wrap;
    justify-content: space-around;
  } @else if $type== 'end' {
    justify-content: flex-end;
  }
}