@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    min-width: 320px;
    width: 100%;
    max-width: 480px;
  }
}

@media screen and (min-width: 481px) and (max-width: 992px){
  .container {
    min-width: 481px;
    width: 100%;
    max-width: 992px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px){
  .container {
    min-width: 993px;
    width: 100%;
    max-width: 1200px;
  }
}

@media screen and (max-width: 1201px){
  .container {
    width: 1200px;
  }
}



