.menu__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.menu__item {
  margin: 1em 0;
}

.menu__link {
  padding: 1em;
  font-size: 1.05em;
  font-weight: bold;
  color: #202020;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s linear;
}

.menu__link:hover,
.menu__link:focus {
  color: #b78585;
}

.menu__item--current {
  color: #d94f5c;
}

