<header class="hero container">
  <div class="burger">
    <div class="burger__line"></div>
    <div class="burger__line"></div>
    <div class="burger__line"></div>
  </div>

  <nav class="hero-nav disappear">
    <ul class="hero-nav__list">
      <li class="hero-nav__item">
        <a href="#" class="hero-nav__link">home</a>
      </li>
      <li class="hero-nav__item">
        <a href="#" class="hero-nav__link">about us</a>
      </li>
      <li class="hero-nav__item">
        <a href="#" class="hero-nav__link">our journal</a>
      </li>
      <li class="hero-nav__item">
        <a href="#" class="hero-nav__link">projects</a>
      </li>
      <li class="hero-nav__item">
        <a href="#" class="hero-nav__link">news</a>
      </li>
      <li class="hero-nav__item">
        <a href="#" class="hero-nav__link">features</a>
      </li>
      <li class="hero-nav__item">
        <a href="#" class="hero-nav__link">contact</a>
      </li>
    </ul>
  </nav>
</header>