.burger {
  @include flex-direction(inline-flex, column);
  width: 44px;
  margin-bottom: 23px;
  padding: 13px;
  background-color: $dark-color;
  overflow: hidden;

  &--opened {
    & .burger__line {
      &:nth-child(1) {
        transform: translate(1px, 4px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translate(1px, -4px) rotate(-45deg);
      }
    }
  }

  &__line {
    height: 2px;
    background-color: $light-color;
    transition: transform 0.3s linear;

    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }
}
