.hero-nav {
  transition: visibility 0.1s linear, opacity 0.1s linear;

  &__list {
    list-style: none;
  }

  &__item {
    transition: background-color 0.3s linear;
  }

  &__item:hover > .hero-nav__link,
  &__item:focus > .hero-nav__link {
    color: $hallmark-color;
  }

  &__link {
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    color: $title-color;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s linear;
  }
}

