.section-title {
  position: relative;
  padding-left: 1px;
  line-height: 22px;
  font-weight: $heavy-fw;
  color: $title-color;
  text-transform: uppercase;

  &::before {
    @include pseudo-elem(inline-block, '\2212');
    margin-right: 5px;
  }
}