.site-footer {
  text-align: center;

  &__title {
    color: $title-light-color;
  }

  &__title::after {
    @include pseudo-elem(inline-block, '\2212');
    margin-left: 5px;
  }

  &__text {
    color: $footer-text-color;
  }
}

.socials {

  &__item {
    display: inline-block;
    width: 34px;
    height: 34px;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    transition: border-color 0.3s linear, background-color 0.3s linear;
  }

  &__item:not(:last-child) {
    margin-right: 2px;
  }

  &__item--rss {
    border-color: #F8902E;
    background-image: url("../img/icons/rss-icon.png");
  }

  &__item--facebook {
    border-color: #39599F;
    background-image: url("../img/icons/facebook-icon.png");
  }

  &__item--twitter {
    border-color: #45B0E3;
    background-image: url("../img/icons/twitter-icon.png");
  }

  &__item--dribbble {
    border-color: #D97AB0;
    background-image: url("../img/icons/dribbble-icon.png");
  }

  &__item--pinterest {
    border-color: #CC212C;
    background-image: url("../img/icons/pinterest-icon.png");
  }

  &__item:hover {
    border-color: $hallmark-color;
    background-color: $dropdown-hover-color;
  }
}

.contacts {
  font-style: normal;

  &__address,
  &__tel,
  &__mail {
    display: inline-block;
    text-decoration: none;
    color: $footer-text-color;
  }

  &__address::after,
  &__tel::after {
    @include pseudo-elem(inline-block, '\002F');
    margin-left: 10px;
  }
}