$main-ff: 'Roboto', 'Arial', sans-serif;
$main-fw: 400;
$heavy-fw: 700;
$title-color: #4E4E4E;
$title-light-color: #FEFEFE;
$subtitle-color: #7C7C7C;
$text-color: #5C5C5C;
$footer-text-color: #B9B9B9;
$light-color: #FFFFFF;
$hallmark-color: #57A4A4;
$dropdown-bg-color: #F5F5F5;
$dropdown-hover-color: #E5E5E5;
$dark-color: #000000;