.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 200px;
}

.modal-form {
  display: flex;
  flex-direction: column;

  &__input {
    padding: 13px 20px;
    margin-bottom: 15px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;

    &::placeholder {
      font-size: 14px;
      line-height: 14px;
      color: #bebebe;
    }

    &:focus {
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
      outline: none;

      &::placeholder {
        color: #434343;
      }
    }
  }

  &__submit {
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s linear;

    &:hover:not(:disabled) {
      background-color: #01813f;
    }
  }

  &__error {
    color: red;
  }
}


