.btns-container {
  padding: 100px 0;
}

.open-btn {
  display: inline-block;
  padding: 10px 25px;
  font-size: 16px;
  text-transform: uppercase;
  outline: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s all linear;
  border: 1px solid #eab551;
  box-shadow: inset 0 0 0 1px #fee9aa;
  color: #996633;

  &:first-child {
    margin-right: 15px;
  }

  &:hover {
    color: #766AD0;
  }
}
