@media screen and (max-width: 767px) {
  .container {
    min-width: 320px;
    width: 100%;
    max-width: 767px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
  .container {
    min-width: 768px;
    width: 100%;
    max-width: 1199px;
  }
}

@media screen and (min-width: 1200px){
  .container {
    width: 1200px;
  }
}