@media screen and (max-width: 767px) {
  .instagram {
    padding-top: 38px;
    padding-bottom: 42px;

    &__title {
      margin-bottom: 13px;

      &--second {
        @include disappear(none);
      }
    }

    &__subtitle {
      @include disappear(none);
    }
  }

  .gallery {

    &-wrap {
      width: 301px;
    }

    &-wrap:not(:first-child) {
      @include disappear(none);
    }
  }
}

@media screen and (min-width: 768px) {
  .instagram {
    padding-top: 47px;
    padding-bottom: 50px;

    &__titles-container {
      @include flex-direction(flex, row, sb-center);
    }

    &__title {

      &--first {
        @include disappear(none);
      }
      &--second {
        @include appear(inline);
      }
    }

    &__subtitle {
      font-size: 13px;
      line-height: 22px;
      font-weight: $heavy-fw;
      color: $title-color;
      text-transform: uppercase;

      &::after {
        @include pseudo-elem(inline-block,'\2212');
        margin-left: 5px;
      }
    }
  }

  .gallery {
   @include flex-direction(flex, row, sb);
  }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
  .instagram {
    &__titles-container {
      margin-bottom: 35px;
    }
  }

  .gallery {
    &-wrap {
      width: 249px;
    }

    &-wrap:last-child {
      @include disappear(none);
    }
  }

}

@media screen and (min-width: 1200px) {
  .instagram {
    &__titles-container {
      margin-bottom: 24px;
    }
  }

  .gallery {

    &-wrap {
      width: 285px;
    }
  }

}